.hgignore
.hg
hg_*
*/autom4te.cache
*/.deps
*.o

*.log
*.map
skaityk.txt

TODO

Build/README
Build/logs/*
Build/source/*
!Build/source/Build_tex4ht*
!Build/source/cvt_config*
!Build/source/configure*
!Build/source/Makefile.in
!Build/source/aclocal.m4
!Build/source/reautoconf.log

!Build/source/m4
Build/source/m4/*
!Build/source/m4/kpse-freetype2-flags.m4*
!Build/source/m4/kpse-pkgs.m4

!Build/source/libs
Build/source/libs/*
!Build/source/libs/configure
!Build/source/libs/Makefile.in
!Build/source/libs/aclocal.m4

!Build/source/libs/freetype2
Build/source/libs/freetype2/*
!Build/source/libs/freetype2/configure
!Build/source/libs/freetype2/Makefile.in
!Build/source/libs/freetype2/aclocal.m4

!Build/source/libs/pixman
Build/source/libs/pixman/*
!Build/source/libs/pixman/configure
!Build/source/libs/pixman/Makefile.in
!Build/source/libs/pixman/aclocal.m4
!Build/source/libs/pixman/config.h.in

!Build/source/libs/poppler
Build/source/libs/poppler/*
!Build/source/libs/poppler/configure
!Build/source/libs/poppler/Makefile.in
!Build/source/libs/poppler/aclocal.m4
!Build/source/libs/poppler/config.h.in

!Build/source/libs/zlib
Build/source/libs/zlib/*
!Build/source/libs/zlib/configure
!Build/source/libs/zlib/Makefile.in
!Build/source/libs/zlib/aclocal.m4
!Build/source/libs/zlib/config.h.in

!Build/source/libs/kplib

!Build/source/tex4ht-lit
Build/source/tex4ht-lit/*
!Build/source/tex4ht-lit/Makefile
!Build/source/tex4ht-lit/tex4ht-c.tex
!Build/source/tex4ht-lit/tex4ht-c.tex.dif
!Build/source/tex4ht-lit/tex4ht-c.sh
!Build/source/tex4ht-lit/tex4ht-c.bat
!Build/source/tex4ht-lit/common.tex
!Build/source/tex4ht-lit/tex4ht-cpright.tex

!Build/source/texk
Build/source/texk/*
!Build/source/texk/configure
!Build/source/texk/Makefile.in
!Build/source/texk/aclocal.m4

!Build/source/texk/tex4htk
Build/source/texk/tex4htk/*
!Build/source/texk/tex4htk/Makefile*
!Build/source/texk/tex4htk/configure*
!Build/source/texk/tex4htk/c-auto.h
!Build/source/texk/tex4htk/tex4ht*
!Build/source/texk/tex4htk/t4ht*
!Build/source/texk/tex4htk/envir*
!Build/source/texk/tex4htk/ProjData*

!Build/source/texk/tex4htk/kpathsea

!Build/source/texk/tex4htk/ac
Build/source/texk/tex4htk/ac/*
!Build/source/texk/tex4htk/ac/withenable.ac

!Build/source/utils
Build/source/utils/*
!Build/source/utils/configure
!Build/source/utils/Makefile.in
!Build/source/utils/aclocal.m4

Build/tests/*

Master/*
!Master/bin
Master/bin/*
!Master/bin/win32
Master/bin/win32/*
!Master/bin/win32/t4ht.exe
!Master/bin/win32/tex4ht_vtex.exe
!Master/bin/win32/mingw53_32
!Master/bin/win32/mingw53_32/*
!Master/bin/win64
Master/bin/win64/*
!Master/bin/win64/tex4ht_vtex.exe
!Master/bin/win64/mingw-w64_i686-7.1.0-posix-dwarf-rt_v5-rev0
!Master/bin/win64/mingw-w64_i686-7.1.0-posix-dwarf-rt_v5-rev0/*
!Master/bin/x86_64-darwin
Master/bin/x86_64-darwin/*
!Master/bin/x86_64-darwin/tex4ht_vtex*
!Master/bin/x86_64-darwin/t4ht
!Master/bin/x86_64-linux
Master/bin/x86_64-linux/*
!Master/bin/x86_64-linux/tex4ht_vtex*
!Master/bin/x86_64-linux/tex4ht_michal*
!Master/bin/x86_64-linux/t4ht
!Master/texmf-dist
Master/texmf-dist/*
!Master/texmf-dist/scripts
Master/texmf-dist/scripts/*
!Master/texmf-dist/scripts/4hsp
