.hgignore
.hg
*/autom4te.cache
*/.deps
*.o

*.log
*.map
skaityk.txt

TODO

Build/README
Build/logs/*
Build/source/*
!Build/source/Build_tex4ht*
!Build/source/configure*
!Build/source/cvt_config*
!Build/source/libs
Build/source/libs/*
!Build/source/libs/kplib

!Build/source/tex4ht-lit
Build/source/tex4ht-lit/*
!Build/source/tex4ht-lit/Makefile
!Build/source/tex4ht-lit/tex4ht-c.tex
!Build/source/tex4ht-lit/tex4ht-c.tex.dif
!Build/source/tex4ht-lit/tex4ht-c.sh
!Build/source/tex4ht-lit/tex4ht-c.bat

!Build/source/texk
Build/source/texk/*
!Build/source/texk/tex4htk
Build/source/texk/tex4htk/*
!Build/source/texk/tex4htk/Makefile*
!Build/source/texk/tex4htk/configure*
!Build/source/texk/tex4htk/tex4ht*
!Build/source/texk/tex4htk/t4ht*
!Build/source/texk/tex4htk/envir*
!Build/source/texk/tex4htk/ProjData*
Build/tests/*

Master/*
!Master/bin
Master/bin/*
!Master/bin/win32
Master/bin/win32/*
!Master/bin/win32/kpathsea623.dll
!Master/bin/win32/tex4ht.exe
!Master/bin/win32/t4ht.exe
!Master/bin/x86_64-darwin
Master/bin/x86_64-darwin/*
!Master/bin/x86_64-darwin/tex4ht
!Master/bin/x86_64-darwin/t4ht
!Master/bin/x86_64-linux
Master/bin/x86_64-linux/*
!Master/bin/x86_64-linux/tex4ht
!Master/bin/x86_64-linux/t4ht
